rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAuth() { return request.auth != null; }

    match /profilePhotos/{fileName} {
      allow read: if isAuth();
      allow write: if isAuth()
                   && fileName == request.auth.uid + '.jpg'
                   && request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
